GOOGLE_ANALYTICS = ''

# db
DATABASE_URL = ''

# email
EMAIL_SERVER_HOST = ''
EMAIL_SERVER_PORT = ''
EMAIL_SERVER_USER = ''
EMAIL_SERVER_PASSWORD = ''

# auth
GOOGLE_CLIENT_ID = ''
GOOGLE_CLIENT_SECRET = ''
BETTER_AUTH_SECRET = ''
# Use https://ilhaf.com in production (not localhost)
BETTER_AUTH_URL = 'http://localhost:3000'

# cloudflare r2
CF_ACCOUNT_ID = ''
R2_BUCKET = ''
R2_KEY = ''
R2_SECRET_KEY = ''

# cloudflare turnsite
NEXT_PUBLIC_TURNSTILE_SITE_KEY = ''
TURNSTILE_SECRET_KEY = ''